<a href="https://colab.research.google.com/github/Pawan-ky/DSA_Practise/blob/main/Must_do_Pattern_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
n = 7
for i in range(n):
  print(5*"*")

*****
*****
*****
*****
*****
*****
*****

In [6]:
n = 7
for i in range(n):
  print(i*"*")

*
**
***
****
*****
******

In [11]:
n = 7
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j, end='')
  print("")

1
12
123
1234
12345
123456
1234567

In [12]:
n = 7
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i, end='')
  print("")

1
22
333
4444
55555
666666
7777777

In [17]:
n = 7
for i in range(n,0,-1):
  print(i*"*")

*******
******
*****
****
***
**
*

In [18]:
n = 7
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(j, end='')
  print("")

1234567
123456
12345
1234
123
12
1

In [11]:
n = 7
for i in range(n):
  for j in range(n-i-1):
    print(" ", end='')
  for k in range(((2*i)+1)):
    print("*", end='')
  for j in range(n-i-1):
    print(" ", end =' ')
  print(' ')

####  method 2
# n = 7
# for i in range(n):
#   print((n-i-1)*" ",((2*i)+1)*"*",(n-i-1)*" ")

      *
     ***
    *****
   *******
  *********
 ***********
*************
       *
      ***
     *****
    *******
   *********
  ***********
 *************

In [39]:
n = 7
for i in range(n):
  print(i*" ",(2*n-(2*i+1))*"*",i*" ")

 *************
  ***********
   *********
    *******
     *****
      ***
       *

In [41]:
n = 7
for i in range(n):
  print((n-i-1)*" ",((2*i)+1)*"*",(n-i-1)*" ")
for i in range(n):
  print(i*" ",(2*n-(2*i+1))*"*",i*" ")

       *
      ***
     *****
    *******
   *********
  ***********
 *************
 *************
  ***********
   *********
    *******
     *****
      ***
       *

In [58]:
n = 7
for i in range(n):

  if i%2==0 :
    st = 0
  else:
    st = 1
  for j in range(i):
    print(st, end='')
    st = 1-st
  print('')

1
01
101
0101
10101
010101

In [74]:
n= 4
for i in range(1,n+1):
  space = 2*(n-i)
  for j in range(1,i+1):
    print(j, end=' ')
  
  for j in range(space):
    print(" ", end=' ')
  
  for k in range(i,0, -1):
    print(k, end=' ')
  print('')

1             1
1 2         2 1
1 2 3     3 2 1
1 2 3 4 4 3 2 1

In [73]:
n = 5
cnt = 1
for i in range(n+1):
  
  for j in range(i):
    print(cnt, end=' ')
    cnt+=1
  print(' ')

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [79]:
import string
alphabet = list(string.ascii_uppercase)
n =5
for i in range(n+1):
  for j in range(i):
    print(alphabet[j], end='')
  print(' ')

A
AB
ABC
ABCD
ABCDE

In [78]:
import string
alphabet = list(string.ascii_uppercase)
n =5
for i in range(n,0,-1):
  for j in range(i):
    print(alphabet[j], end='')
  print(' ')

ABCDE
ABCD
ABC
AB
A

In [82]:
import string
alphabet = list(string.ascii_uppercase)
n =5
for i in range(0,n):
  for j in range(i+1):
    print(alphabet[i], end='')
  print(' ')

A
BB
CCC
DDDD
EEEEE

In [30]:
import string
alphabet = list(string.ascii_uppercase)
n = 5
for i in range(n):
  for j in range(n-i-1):
    print(" ", end='')
  brkpoint = (2*i+1)//2
  for j in range(((2*i)+1)):
    if j<=brkpoint:
      print(alphabet[j], end='')
    else:
      # print(j,brkpoint, end="")
      print(alphabet[2*i-j], end ='')
  for j in range(n-i-1):
    print(" ", end =' ')
  print(' ')

    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA

In [41]:
al = ['E','D','C','B','A']
n =5
for i in range(n):
  for j in range(i+1):
    print(al[j], end='')
  print(' ')

E
ED
EDC
EDCB
EDCBA

In [44]:

n= 4
for i in range(2*n-1):
  for j in range(2*n-1):
    top = i
    left = j
    bottom = 2*n-2-i
    right = 2*n-2-j
    print(n-min(top,left,bottom,right), end='')
  print('')

4444444
4333334
4322234
4321234
4322234
4333334
4444444